@font-face {
    font-family: "Px";
    src: url("medodica.otf");
}

body {
    font-family: "Px";
    background-color: #2A0025; 
    margin: 10% 5%;
}

h1 {
    color: white;
}

button {
    border: 0;
    cursor: pointer;
    padding: 2% 6%;
    font-size: xxx-large;
    background: transparent url("start.png") center no-repeat;
    background-size: contain;
}

input {
    border: 0;
    color: white;
    text-align: center;
    font-family: "Px";
    font-size: xxx-large;
    padding: 2% 10%;
    background: transparent url("input.png") center no-repeat;
    background-size: contain;
}

*:focus {
    outline: none;
}
